
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div>
    <h2 style="color:#003399;">WELCOME</h2>
</div>

<div>
    <div class="images" >
        <img src="~/Uploads/Logos/img6.jpeg" style="width:300px; height: 250px; margin: 10px; border-radius:10px;"/>
        <img src="~/Uploads/Logos/img4.jpeg" style="width: 300px; height: 250px; margin: 10px; border-radius: 10px;"/>
        <img src="~/Uploads/Logos/img7.jpeg" style="width: 300px; height: 250px; margin: 10px; border-radius: 10px;"/>
    </div>
</div>

<div>
    
    Welcome to RMSTU Hall Management System
    <br />
    Hostel Admin,Provosts & Students can see account details online.
    <br />
    Just click <a href="~/User" class="btn btn-info" role="button">Log In</a> and access your account.
    <br />
    Life will become easy and faster.
    <br />
</div>

<div>
    <h2 style="color:#003399;">Our Hall</h2>
</div>
<div>
    <div class="images">
        <img src="~/Uploads/Logos/img3.jpeg" style="width:300px; height: 250px; margin: 10px; border-radius:10px;" />
        <img src="~/Uploads/Logos/img2.jpeg" style="width: 300px; height: 250px; margin: 10px; border-radius: 10px;" />
        <img src="~/Uploads/Logos/img1.jpeg" style="width: 300px; height: 250px; margin: 10px; border-radius: 10px;" />

    </div>
</div>

<div>
    <br />
    In this modern generation
    <br />
    Let all the works done by Internet
    <br />
    
    Our motive is to introduce a hall module of a university.
    <br />
</div>

    







